#!/usr/bin/make -f

# TODO: I should use upstream's Makefile with VERSION=$(VERSION) for
# installation, that would stop me making the same work as upstream's
# Makefile.

TMPDIR = tmp-debian-build
VERSION =  $(shell dpkg-parsechangelog | egrep '^Version' | \
        sed -r 's/Version:\s*//' | sed -r 's/^[0-9]+://' | \
        sed -r 's/(\.dfsg)?-[0-9.]+//')

build-arch:

build-indep:
	mkdir -p $(TMPDIR)
	cat gitstats | perl -p -e 's/VERSION = 0/VERSION = "$(VERSION)"/' > $(TMPDIR)/gitstats
	pod2man --center "User Commands" -r $(VERSION) doc/gitstats.pod > doc/gitstats.1

build: build-arch build-indep


clean:
	rm -rf $(TMPDIR)
	rm -f doc/gitstats.1
	dh_testdir
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_install

binary-arch:
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
